#signupscreen{
    margin: 8% auto 22% auto ;
	width: 28%;
    height: 30%;
    min-width:350px;
    min-height:380px;
	border-style: ridge;
}

.img{
    margin: 6% auto 0 auto ;
    display:block;
    width: 12%;
}
.signup{
	padding: 7%;
}
#signup-btn{
    padding-bottom: 5%; 
}
.txt{
    padding-bottom: 7%;
}
#username{
	border-color:#ccc
}
#email{
	border-color:#ccc
}
#password{
	border-color:#ccc
}
meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  
    margin: 0 0 1em 0;
    width: 100%;
    height: 0.5em;
  
    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
#prmpt{
    color:SlateGray;
    text-align:left;
}