/*Control the whole signup panel*/
#signupscreen{
    margin: 8% auto 22% auto ;
	width: 35%;
    height: 30%;
    min-width:350px;
    min-height:380px;
	border-style: ridge;
}
.signup{
	padding: 15%;
}
#signup-btn{
    padding-bottom: 5%; 
}
.txt{
    padding-bottom: 7%;
}
#username{
	border-color:#ccc
}
#email{
	border-color:#ccc
}
#password{
	border-color:#ccc
}
.login-tag{
   margin-left:18%;
}
#prmpt{
    margin-top: 10%;
    color:slategray;
    text-align: left;
}

.ok {
	background: #cfc;
	border: 2px solid #9c9;
}

.info {
    color:slategray;
    border: ridge;
    position: absolute;
    width: 17%;
    background: white;
    border-radius: 5px;
}

.error {
    Font-size:75%;
    float:left;
	color:rgb(226, 52, 52);
}
meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;

    margin: 0 0 1em 0;
    width: 100%;
    height: 0.5em;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}