<div id="signupscreen">
  <form class="signup" (ngSubmit)="signup()">
      <h2>Sign Up</h2>
      <hr>
      <div class="form-group txt">
          <input type="text" class="form-control" 
          [(ngModel)]="usertoSend.username" 
          name="username" id="username" placeholder="Username" required/>
          <span id="username-info" [ngClass]="{'info': username_id === 1,'error': username_id === 2}"></span>
      </div>
      
      <div class="form-group txt" >
          <input type="text" class="form-control" 
          [(ngModel)]="usertoSend.email" 
          name="email" id="email" placeholder="Email" required/>
          <span id="email-info" [ngClass]="{'info': email_id === 1,'error': email_id === 2}"></span>
      </div>
      

      <div class="form-group">
          <input type="password" class="form-control" 
          [(ngModel)]="usertoSend.password" 
          name="password" id="password" placeholder="Password" required/>
          <!-- <meter max="4" id="password-strength-meter"></meter>
          <p id="password-strength-text"></p> -->
          <span id="password-info" [ngClass]="{'info': password_id === 1,'error': password_id === 2}"></span>
      </div>

      <div id="prmpt">
          <p>In order to <strong>protect your account</strong>, make sure your password:</p>
          <ul>
            <li>Is longer than 6 characters</li>
            <li> Does not match or significantly contain your username, e.g. do not use 'username123'.</li>
            <li>Is not a member of this list of common passwords</li>
          </ul>
          <p><input type="checkbox"> Agree to the <a [routerLink]="['/policy']">Privacy Policy</a>.</p>
        </div>
      <div id="signup-btn">
          <button type="submit" class="btn btn-outline-secondary btn-block">Sign Up</button>
      </div> 
      <div>
          <a [routerLink]="['/movies']" class="btn btn-link">Cancel</a>
          <a [routerLink]="['/login']" class="btn btn-link login-tag">Login</a>
      </div>
  </form>
</div>