<!-- <div class="col-md-6 col-md-offset-3" id="signupscreen">
  <h2>Sign Up</h2>
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
          <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
      </div>
      <div class="form-group">
          <button [disabled]="loading" class="btn btn-secondary">Sign Up</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          <a [routerLink]="['/movies']" class="btn btn-link">Cancel</a>
      </div>
  </form>
</div> -->

<img class="img" src="http://tu.027cgb.com/618498/2019322193154520.png">
<div id="signupscreen">
    <form class="signup" action="login.php" method="post">
        <h4>Sign Up</h4>
        <hr>
        <div class="form-group" class = "txt">
            <input type="text" class="form-control" name="email" id="emai;" placeholder="Email" onfocus="rewrite(this)"/>
        </div>
        <div class="form-group" class = "txt">
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" onfocus="rewrite(this)"/>
        </div>
        <div class="form-group" class = "txt">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" onfocus="rewrite(this)"/>
        </div>
        <div id="prmpt">
            <p>In order to <strong>protect your account</strong>, make sure your password:</p>
            <ul>
              <li>Is longer than 6 characters</li>
              <li> Does not match or significantly contain your username, e.g. do not use 'username123'.</li>
              <li>Is not a member of this list of common passwords</li>
            </ul>
            <p><input type="checkbox"> Agree to the <a href="https://www.npmjs.com/policies/privacy">Privacy Policy</a>.</p>
          </div>
        <div id="signup-btn">
            <button type="submit" class="btn btn-outline-secondary btn-block">Create an Account</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div> 
        <div>
            <a [routerLink]="['/movies']" class="btn btn-link">Cancel</a>
            <a [routerLink]="['/login']" class="btn btn-link">or, Login</a>
        </div>
    </form>
</div>