<div id="signupscreen">
  <form class="signup" (ngSubmit)="signup()" novalidate>
      <h2>Sign Up</h2>
      <hr>
      <div class="form-group txt">
          <input type="text" class="form-control" 
          [(ngModel)]="usertoSend.username" 
          name="username" id="username" placeholder="Username"
          maxlength="12" required/>
          <span id="username-info" [ngClass]="{'info': username_id === 1,'error': username_id === 2}"></span>
      </div>
      
      <div class="form-group txt" >
          <input type="text" class="form-control" 
          [(ngModel)]="usertoSend.email" 
          name="email" id="email" placeholder="Email" required/>
          <span id="email-info" [ngClass]="{'info': email_id === 1,'error': email_id === 2}"></span>
      </div>
      

      <div class="form-group">
          <input type="password" class="form-control" 
          [(ngModel)]="usertoSend.password" #password="ngModel" 
          name="password" id="password" placeholder="Password" 
          maxlength="15" required/>
          <ng2-password-strength-bar
            class="password-strength-bar"
            [passwordToCheck]="usertoSend.password"
            [barColors]="myColors">
          </ng2-password-strength-bar>
          <span id="password-info" [ngClass]="{'info': password_id === 1,'error': password_id === 2}"></span>
      </div>

      <div class="form-group txt-confpaswrd">
            <input type="password" class="form-control" 
            [(ngModel)]="confirmPassword" #password="ngModel" 
            name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" 
            maxlength="15" required/>
            <span id="confirmPassword-info" [ngClass]="{'error': confirmPassword_id === 1}"></span>
      </div>

      <div id="prmpt">
          <p>In order to <strong>protect your account</strong>, make sure your password:</p>
          <ul>
            <li>Is longer than 6 characters</li>
            <li>Password strength should be more than level 2.</li>
          </ul>
          <p><input type="checkbox" id="agree"> Agree to the <a [routerLink]="" (click)="openLg(content)">Privacy Policy</a>.</p>
          <span id="agree-info" [ngClass]="{'agree-info':agree_id === 1}"></span>
        </div>
      <div id="signup-btn">
          <button type="submit" class="btn btn-outline-secondary btn-block">Sign Up</button>
      </div> 
      <div>
          <a [routerLink]="['/movies']" class="btn btn-link">Cancel</a>
          <a [routerLink]="['/login']" class="btn btn-link login-tag">Login</a>
      </div>
  </form>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Privacy Policy</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Last updated: March 21, 2019</p>
        <p>This Privacy Policy describes the privacy practices of Fandango Media, LLC and its subsidiary companies, including the businesses operating under the Fandango, FandangoNOW, Rotten Tomatoes, Flixster, Movieclips, Movies.com, Activaterewards.com, Fandango FanShop, MovieTickets (including but not limited to MovieTickets.com and MovieTickets.co.uk), or M-GO brands ("Fandango", "we", "our" or "us"), with respect to how we collect, use, disclose and transfer the information you provide when you interact with us via those of our websites, applications, emails and other communications that link to or reference this policy (the "Services"). For European users of Rotten Tomatoes and MovieTickets.co.uk, please see additional provisions in Section 14.</p>
        <p><strong>Our Owners</strong></p>
        <p>When the Services receive or collect information, that information is being received and collected, and will be owned, by Fandango and each of "Fandango's Owners" (i.e., each company that has an ownership interest in Fandango). While Fandango's use, handling, disclosure and practices with respect to that information will be governed by this Privacy Policy, each Fandango Owner's use, handling, disclosure and practices with respect to that information will be governed by that Fandango Owner's privacy policy. Fandango's Owners are currently NBC/Universal and Warner Bros. If you want to learn more about the privacy practices of NBC/Universal and Warner Bros., we encourage you to review their policies (linked below):</p>
        <p><strong>Your Rights to Dispute</strong></p>
        <p>Your use of our websites and our other services are subject to binding individual arbitration of any disputes which may arise, as provided in the Terms and Policies. Please read the arbitration provisions of the Terms and Policies carefully and do not use the Services if you are unwilling to arbitrate any disputes you may have with us as provided in our Terms and Policies.</p>
        <ol>
            <li>TYPES OF INFORMATION WE COLLECT ABOUT YOU</li>
            <li>HOW WE COLLECT INFORMATION ABOUT YOU</li>
            <li>HOW WE USE INFORMATION ABOUT YOU</li>
            <li>HOW WE SHARE INFORMATION ABOUT YOU</li>
            <li>ADDITIONAL INFORMATION ABOUT HOW WE USE AND SHARE INFORMATION ABOUT YOU</li>
            <li>CHILDREN</li>
            <li>HOW WE PROTECT INFORMATION ABOUT YOU</li>
            <li>YOUR RIGHTS AND CHOICES</li>
            <li>CONSENT TO PROCESSING AND TRANSFER OF INFORMATION ABOUT YOU</li>
            <li>IMPORTANT INFORMATION FOR CALIFORNIA RESIDENTS</li>
            <li>LINKS TO OTHER WEBSITES AND SERVICES</li>
            <li>UPDATES TO OUR PRIVACY POLICY</li>
            <li> CONTACT US</li>
            <li> EUROPEAN USERS</li>
        </ol>
        <h6>1. TYPES OF INFORMATION WE COLLECT ABOUT YOU</h6>
        <p>
            There are two main types of information we collect about users of the Services:</p>
        <p>
        "Personally Identifiable Information" is information that identifies you and may include, for example, your full (i.e., first and last) name,
            phone number, email address, postal address, credit or other payment card number, and photos of you or other individuals.
        "Non-Personally Identifiable Information" is information that relates to you or the computer or mobile device you use to access the online
            Services, but does not on its own identify you personally. This information may include (for example), information about your use of the 
            Services, including web pages you have visited, apps you have downloaded, parts or functions of the Services you have used or viewed, 
            gameplay data, content you have accessed or viewed, advertising sent to you or that you have viewed, transaction history, IP address and 
            device identifiers, information about your Internet connection, information about the equipment or software you use to access the Services, 
            and information you provide to or post on message boards or chat rooms that are part of the Services.
        </p>
        <h6>2. HOW WE COLLECT INFORMATION FROM YOU</h6>
        <p>
            We collect information about you in three main ways:</p>
        <p>
            Directly from you, when you provide it to us: for example, when you register with the website, download an app, sign up for email or text 
            alerts, buy movie tickets or make other purchases via the Services, request products or services, respond to surveys, contact us or otherwise 
            interact with us. Please remember that if others use devices into which you remain logged in, they may share information with us as if they 
            were you, and they may have access to information that you have previously provided us. To protect your privacy, please log out from the 
            Services you use on shared devices.
            Automatically, when you use our Services : we collect information through the use of cookies and similar technologies, through logging your 
            activities on the Services, and when you download our applications. Please see our Cookies and Tracking Technologies Information Center, and 
            Mobile Apps Information Center for further information, including your choices in relation to the use of these technologies. In addition, 
            after you have provided us with your information, we may automatically associate that information and other information that we collect with 
            your account whenever you are logged-in so that we can identify you across multiple devices and browsers. When you are not logged-in, we may 
            automatically collect information that can be used to recognize you across the devices you use. When you are using a Wi-Fi network to which 
            we have access, we may also detect and identify a device to which you have previously logged-in. Further, Google may automatically obtain 
            information from you when you use the Google Maps functionality in our Services in accordance with the Google Privacy Policy. You agree that 
            Google, and not Fandango, shall be responsible for any of your information Google receives as a result of your use of Google Maps / Google 
            Earth From third parties : we may obtain information about you from third parties outside of the Services. When you sign-on to the Services 
            or otherwise interact with social networks or if you interact with us through a social media function such as a plug-in (for example, a 
            Facebook "like" button) then you may be permitting us to have on-going access to some information from your social network profile (such as 
            your name, email address, your friend list, photo, age, gender, location, birthday, social networking ID, current city, the people/sites you 
            follow, and so forth). We may also obtain information about you from a third party data aggregator, cookie technology operator, advertising 
            network, or another type of data company.
        </p>
        <h6>3. HOW WE USE INFORMATION ABOUT YOU</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
        <h6>4. HOW WE SHARE INFORMATION ABOUT YOU</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
        <h6>5. ADDITIONAL INFORMATION ABOUT HOW WE USE AND SHARE INFORMATION ABOUT YOU</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
        <h6>6. CHILDREN</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
        <h6>7. HOW WE PROTECT INFORMATION ABOUT YOU</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
        <h6>8. YOUR RIGHTS AND CHOICES</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
        <h6>9. CONSENT TO PROCESSING AND TRANSFER OF INFORMATION ABOUT YOU</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
        <h6>10. IMPORTANT INFORMATION FOR CALIFORNIA RESIDENTS</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
        <h6>11. LINKS TO OTHER WEBSITES AND SERVICES</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
        <h6>12. UPDATES TO OUR PRIVACY POLICY</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
        <h6>13. CONTACT US</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
        <h6>14. EUROPEAN USERS</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo  consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

