/* Control the whole signup panel */
#signupscreen{
    margin: 8% auto 22% auto ;
	width: 35%;
    height: 30%;
    min-width:350px;
    min-height:380px;
	border-style: ridge;
}

/* Control the whole signup form */
.signup{
	padding: 15%;
}

#signup-btn{
    padding-bottom: 5%; 
}

/* for there input tag */
.txt{
    padding-bottom: 7%;
}

/**/
#username #email #password{
	border-color:#ccc
}

/**/
.login-tag{
   margin-left:18%;
}

/*password rules and policy*/
#prmpt{
    margin-top: 10%;
    color:slategray;
    text-align: left;
    clear: left;
}

.ok {
	background: #cfc;
	border: 2px solid #9c9;
}

/*prompt msgs & validation msgs*/
.info {
    color:slategray;
    border: ridge;
    position: absolute;
    width: 17%;
    background: white;
    border-radius: 5px;
}
.error {
    Font-size:75%;
    float:left;
    color:rgb(226, 52, 52);
}
#password-info{
    margin-top: 1.6%;
    margin-left: 4%;
}

/*password strength */
.password-strength-bar{
    float:left;
}