/*main div style*/
.main{
    border-left:1px solid #0808080c; 
}

/*div with columns*/
.row{
    margin: 5% 0 5% 0;
}

/*sider and main column*/
.sider, .main{
    height:100%;
}

/*sider column elemnts*/
.user-photo, h6{
    display:block;
    width: 55%;
    margin:0 auto 10% auto;
    
}

/*main column elemnts*/
.section{
    padding:0 5% 0 5%;
    margin-bottom: 2%;
}

/* maincolumn/user-info */
label{
    float:left;
}

/* maincolumn/wish-list */
.wish-movie-image{
    display:block;
    width: 100%;
}
.card-text{
    font-size: 75%;
    margin-top: -15%;
    margin-bottom: 5%;
}
.wish-list-item{
    height: 95%;
}
.empty-msg{
    top: 50%;
}
.remove-btn{
    position:absolute;
    top:0px;
    right:0px;
}
.btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}