/*div with columns*/
.row{
    margin: 5% 0 5% 0;
}

/*sider and main column*/
.sider, .main{
    height:100%;
}
.main{
    border-left:1px solid #0808080c; 
}

/*sider column elemnts*/
h6{
    display:block;
}
.user-photo{
    display:block;
    width:100%;
    /* height:100%; */
}
.user-image{
    position: relative;
    border-radius: 50%;
    width: 60%;
    margin: 0 auto 10% auto;
    overflow:hidden;
}
.user-image:hover .overlay {
    height: 100%;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(219, 221, 221, 0.884);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.icon{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*main column elemnts*/
.section{
    padding:0 5% 0 5%;
    margin-bottom: 2%;
}
/* buttons */
#btn-user-info, #btn-wish-list, #btn-history{
    background-color: #8ee6d1a9;
}

/* maincolumn/user-info */
label{
    float:left;
}

/* maincolumn/wish-list */
.wish-movie-image{
    display:block;
    width: 100%;
}
.card-text{
    font-size: 75%;
    margin-top: -15%;
    margin-bottom: 5%;
}
.wish-list-item{
    height: 95%;
}
.empty-msg{
    top: 50%;
}
.remove-btn{
    position:absolute;
    top:0px;
    right:0px;
}
.btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}