<div class="container">
  <div class="row">
    <!-- *************************** -->
    <!-- ** add or something else ** -->
    <!-- *************************** -->
    <div class="col-12 col-md-1 sider-1">
    </div>

    <!-- ***************************** -->
    <!-- ** username and user photo ** -->
    <!-- ***************************** -->
    <div class="col-12 col-md-2 sider">
      <img class="user-photo" src="{{curUser.image}}" alt="User Photo">
      <h6>{{curUser.username}}</h6>
    </div>

    <!-- **************************** -->
    <!-- ** userinfo and wish list ** -->
    <!-- **************************** -->
    <div class="col-12 col-md-8 main">

      <!-- user info -->
      <div class="section">
        <!-- title button -->
        <button class="btn btn-primary btn-block" id="btn-user-info" type="button"
          data-toggle="collapse" data-target="#section-userinfo" 
          aria-expanded="false" aria-controls="section-userinfo">
          User Information
        </button>
        <!-- popdown info -->
        <div class="collapse" id="section-userinfo">
          <div class="card card-body">
              <form>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label>Username</label>
                    <input type="text" readonly class="form-control" placeholder="{{curUser.username}}">
                    </div>
                  <div class="col-md-6 mb-3">
                    <label>Email</label>
                    <input type="text" readonly class="form-control" placeholder="{{curUser.email}}">
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>

      <!-- wish list -->
      <div class="section">
        <!-- title button -->
        <button class="btn btn-primary btn-block" id="btn-wish-list" type="button"
          data-toggle="collapse" data-target="#section-wishlist" 
          aria-expanded="false" aria-controls="section-wishlist">
          Wish List
        </button>
        <!-- popdown info -->
        <div class="collapse" id="section-wishlist">
          <!--  -->
          <div class="card card-body">
            <div class = "empty-msg" *ngIf="!haveWishList">Wish list is empty.</div>
            <div class="row" *ngIf="haveWishList">
              <div class="col-md-3 col-sm-6" *ngFor="let movie of wishList | paginate: { itemsPerPage: 8, currentPage: p } ; trackBy: trackingFunction"> 
                <div class="card wish-list-item">
                  <a (click)="getMoiveDetail(movie.id)">
                    <img class = "wish-movie-image" src="{{movie.image}}" alt="{{movie.name}}">
                  </a>
                  <div class="card-body"  (click)="getMoiveDetail(movie.id)">
                    <p class="card-text">{{movie.name}}</p>
                    <button class="btn btn-warning btn-xs remove-btn"
                      (click)="deleteFormUserWishList(movie.id)"
                      onClick="event.cancelBubble = true">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <pagination-controls *ngIf="havePaginate" (pageChange)="p = $event"></pagination-controls>
            
          </div>
        </div>
      </div>

      <!-- history -->
      <div class="section">
          <!-- title button -->
          <button class="btn btn-primary btn-block" id="btn-history" type="button"
            data-toggle="collapse" data-target="#section-history" 
            aria-expanded="false" aria-controls="section-history">
            History
          </button>
          <!-- popdown info -->
          <div class="collapse" id="section-history">
            <div class="card card-body">
              Coming soon!
            </div>
          </div>
        </div>

      <!-- *************************** -->
      <!-- ** add or something else ** -->
      <!-- *************************** -->
      <div class="col-12 col-md-1 sider-2">
      </div>

    </div>
</div>


    