<div>
  <!-- *ngIf="pager.pages && pager.pages.length" -->
  <ul class="pagination">
      <li >
          <a [ngClass]="{'disabled': pager.currentPage === 1}" 
             (click)="pager.currentPage > 1 && setPage(1)">
            <i class="fas fa-angle-left"></i>
            <i class="fas fa-angle-left"></i>
            <span>First</span>
          </a>
      </li>
      <li>
          <a [ngClass]="{'disabled':pager.currentPage == 1}" 
             (click)="pager.currentPage > 1 && setPage(pager.currentPage - 1)">
            <i class="fas fa-angle-left"></i>
            <span>Previous</span>
          </a>
      </li>
      <li *ngFor="let page of pager.pages" >
          <a [ngClass]="{'active':pager.currentPage == page}" 
             (click)="setPage(page)">{{ page }}</a>
      </li>
      <li >
          <a [ngClass]="{'disabled':pager.currentPage == pager.totalPages}" 
             (click)="pager.currentPage < pager.totalPages && setPage(pager.currentPage + 1)">
            <span>Next</span>
            <i class="fas fa-angle-right"></i>
          </a>
      </li>
      <li>
          <a [ngClass]="{'disabled':pager.currentPage == pager.totalPages}" 
             (click)="pager.currentPage < pager.totalPages && setPage(pager.totalPages)">
            <span>Last</span>
            <i class="fas fa-angle-right"></i>
            <i class="fas fa-angle-right"></i>
          </a>
      </li>
  </ul>
</div>
