#loginscreen{
    margin: 5% auto 22% auto ;
	width: 26%;
    height: 30%;
    min-width:350px;
    min-height:380px;
	border-style: ridge;
}
h4{
    float:left;
    padding-bottom: 3%;
}
.img{
    margin: 10% auto 0 auto ;
    display:block;
    width: 38%;
}
.login{
    padding: 7%;
    padding-top:5%;
}

.txt{
    padding-bottom: 10%;
}
#username,#email,#password{
	border-color:#ccc
}

.btn {
    width: 30%;
    margin: 0 auto;
    margin-left:10%;
}

.submit{
    margin-left:20%;
}

/*prompt msgs & validation msgs*/
.info {
    color:slategray;
    border: ridge;
    position: absolute;
    width: 17%;
    background: white;
    border-radius: 5px;
}
.error {
    Font-size:75%;
    float:left;
    color:rgb(226, 52, 52);
}
.wrongUser{
    color:rgb(226, 52, 52);
}