<div class="container" id="movieInfo">
  <div class="row">
    <div class="col-md-4">
        <img src="{{ movieToShow?.imagePath }}" class="card-img-top" alt="{{ movieToShow?.title }}">
    </div>
    <div id="movieDes" class="col-md-8" >
      <div class="movie-title"> {{ movieToShow?.title }} </div>
      <div class="movie-desc">{{ movieToShow?.description }}</div>
      <div class="movie-rating">
        <!-- <img src="https://image.flaticon.com/icons/svg/605/605132.svg" alt="pickle-icon"> -->
        <span>{{ movieToShow?.rating }}</span>
        <span class="star" *ngFor="let i of [].constructor(stars.fullStars)"><i class="fas fa-star"></i></span>
        <span class="star" *ngIf="stars.halfStar === 1"><i class="fas fa-star-half-alt"></i></span>
        <span class="star" *ngFor="let i of [].constructor(stars.emptyStars)"><i class="far fa-star"></i></span>
      </div>
      <div class="movie-title movie-info"> MOVIE INFO </div>
      <div class="info-text row">
        <div class="left col-md-4">
            <span>Directors :</span>
            <span >Casts :</span>
            <span>Geners :</span>
            <span>In Theaters :</span>
            <span>Area :</span>
            <span>Runtime :</span>
        </div>
        <div class="right col-md-7">
          <span>{{ movieToShow?.director }}</span>
          <span>{{ movieToShow?.actors }}</span>
          <span>{{ movieToShow?.geners }}</span>
          <span>{{ movieToShow?.year }}</span>
          <span>{{ movieToShow?.area }}</span>
          <span>{{ movieToShow?.length }} minutes</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <button *ngIf="!isClickLike" 
            id="likeBtn" 
            class="btn btn-outline-primary btn-sm" 
            (click)="updateLikeWatched('likes','up')">
      <i class="far fa-thumbs-up"></i> Like {{ movieToShow?.likes }}
    </button>
    <button *ngIf="isClickLike" 
            id="likeBtn" 
            class="btn btn-primary btn-sm" 
            (click)="updateLikeWatched('likes','down')">
      <i class="fas fa-thumbs-up"></i> Like {{ movieToShow?.likes }}
    </button>
    <button *ngIf="!isClickWatched" 
            id="watchedBtn" 
            class="btn btn-outline-info btn-sm" 
            (click)="updateLikeWatched('watched','up')">
      <i class="far fa-check-circle"></i> Watched {{ movieToShow?.watched }}
    </button>
    <button *ngIf="isClickWatched" 
            id="watchedBtn" 
            class="btn btn-info btn-sm" 
            (click)="updateLikeWatched('watched','down')">
      <i class="far fa-check-circle"></i> Watched {{ movieToShow?.watched }}
    </button>    
    <button *ngIf="!isClickWishList" 
            class="btn btn-outline-success btn-sm"
            (click)="updateUserWishList('add')">
      <i class="fas fa-plus"></i> Add to Wishlist
    </button>
    <button *ngIf="isClickWishList" 
            class="btn btn-outline-warning btn-sm"
            (click)="updateUserWishList('remove')">
      <i class="fas fa-minus"></i> Remove from Wishlist
    </button>

  </div>
</div>
<div class="container">
  <div>
    <app-star-rating></app-star-rating>
    <button class="btn btn-outline-primary float-right" (click)="goBack()"><i class="fas fa-arrow-left"></i> Go Back</button>
    <button class="btn btn-outline-success float-right" (click)="addNewComment()"><i class="fas fa-plus"></i> Add Comment</button> 
  </div> 
  <div class="comments">COMMENTS</div>
  <div class= "noCommentDiv" *ngIf="movieToShow?.comments.length == 0"> 
    <p>Oops ！No comment for this movie yet.</p> 
  </div>
  <div *ngIf="movieToShow?.comments.length > 0">
    <div  class="comment" *ngFor="let commentEl of movieToShow?.comments">
      <div>
          <span class="commentAuthor"><i class="far fa-user"></i> {{ commentEl.author.username }}</span> 
          <span class="commentDate"><i class="far fa-calendar-alt"></i> {{ commentEl.date }}</span>
          <p class="commentText">{{ commentEl.text }}</p>
          <hr>
      </div>
    </div>
  </div>
</div>
