.container {
    margin-top: 50px;
    text-align: left;
}

.btn{
    margin-left: 10px;
}

#movieInfo{
    text-align: left;
}

/* Movie Title Style */
.movie-title{
	display: flex;
	flex-basis: 100%;
	align-items: center;
    color: #504f4ff9;
    margin: 10px 0px;
    font-size: 1.5em;
}
.movie-title::before,
.movie-title::after {
	content: "";
	flex-grow: 1;
	background: #8ee6d1a9;
	height: 20px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 0px;
}
.movie-title::before{
    margin-right: 20px;
}
.movie-title::after{
    margin-left: 20px;
}

.comments{
    display: flex;
	flex-basis: 100%;
	align-items: center;
    color: #504f4ff9;
    margin: 10px 0px;
    font-size: 1.5em;
}
.comments::before,
.comments::after {
	content: "";
	background: #8ee6d1a9;
	height: 10px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 0px;
}
.comments::before{
    width:5%;
    margin-right: 20px;
}
.comments::after{
    width:95%;
    margin-left: 20px;
}


.movie-desc{
    text-align: center;
    margin: 0 50px;
    margin-top: 25px;
    font-style:italic;
}

.movie-rating{
    text-align: center;
    padding: 0 auto;
    margin-top: 25px;
    
}
.movie-rating img{
    width: 8%;
}
.movie-rating span{
    margin-left:20px;
    margin-right: 20px;
    color:  #ff8000;
    font-size: 1.5em;
}
.movie-rating .star {
    margin: 0 0;
    color: gold;
}
/* Movie INFO Style */
.movie-info{
    margin-top: 50px;
    font-size: 1.2em;
}
.movie-info::before,
.movie-info::after {
	height: 5px;
}
.movie-info::before{
    margin-right: 40px;
}
.movie-title::after{
    margin-left: 40px;
}
.info-text span{
    display: block;
    line-height: 40px;
}
.left{
    margin: 0 0;
    padding: 0 0;
    text-align: right;
    font-weight: bold; 
}
.right{
    margin: 0 0;
    padding: 0 0 ;
    margin-left:15px;
    text-align: left;
    
}

app-star-rating{
    margin-left: 10px;
}

