<div class="container" id="movieInfo">
  <div class="row">
    <div class="card col-md-6">
        <img src="{{ movieToShow?.imagePath }}" class="card-img-top" alt="{{ movieToShow?.title }}">
    </div>
    <div class="col-md-6" id="movieDes">
      <p><span>Title : </span>{{ movieToShow?.title }}</p>
      <p><span>Year : </span>{{ movieToShow?.year }}</p>
      <p><span>Area : </span>{{ movieToShow?.area }}</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <button class="btn btn-outline-primary btn-sm"><i class="far fa-heart"></i> Like</button>
    <button class="btn btn-outline-secondary btn-sm"><i class="far fa-check-circle"></i> Watched</button>
    <button class="btn btn-outline-success btn-sm"><i class="fas fa-plus"></i> Add to Wishlist</button>
  </div>
</div>
<div class="container">
  <hr>
  <button class="btn btn-outline-primary float-right" (click)="goBack()"><i class="fas fa-arrow-left"></i> Go Back</button>
  <button class="btn btn-outline-success float-right"><i class="fas fa-plus"></i> Add Comment</button>  
  <p>comments here...</p>
</div>
