<div class="container" id="movieInfo">
  <div class="row">
    <div class="col-md-4">
        <img src="{{ movieToShow?.imagePath }}" class="card-img-top" alt="{{ movieToShow?.title }}">
    </div>
    <div id="movieDes" class="col-md-8" >
      <div class="movie-title"> {{ movieToShow?.title }} </div>
      <div class="movie-desc">{{ movieToShow?.description }}</div>
      <div class="movie-rating">
        <!-- <img src="https://image.flaticon.com/icons/svg/605/605132.svg" alt="pickle-icon"> -->
        <span>{{ movieToShow?.rating }}</span>
        <span class="star" *ngFor="let i of [].constructor(stars.fullStars)"><i class="fas fa-star"></i></span>
        <span class="star" *ngIf="stars.halfStar === 1"><i class="fas fa-star-half-alt"></i></span>
        <span class="star" *ngFor="let i of [].constructor(stars.emptyStars)"><i class="far fa-star"></i></span>
      </div>
      <div class="movie-title movie-info"> MOVIE INFO </div>
      <div class="info-text row">
        <div class="left col-md-5">
            <span>Directors :</span>
            <span >Casts :</span>
            <span>Geners :</span>
            <span>In Theaters :</span>
            <span>Area :</span>
            <span>Runtime :</span>
        </div>
        <div class="right col-md-6">
          <span>{{ movieToShow?.director }}</span>
          <span>{{ movieToShow?.actors }}</span>
          <span>{{ movieToShow?.geners }}</span>
          <span>{{ movieToShow?.year }}</span>
          <span>{{ movieToShow?.area }}</span>
          <span>{{ movieToShow?.length }} minutes</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <button class="btn btn-outline-primary btn-sm"><i class="far fa-heart"></i> Like</button>
    <button class="btn btn-outline-secondary btn-sm"><i class="far fa-check-circle"></i> Watched</button>
    <button class="btn btn-outline-success btn-sm"><i class="fas fa-plus"></i> Add to Wishlist</button>
  </div>
</div>
<div class="container">
  <hr>
  <div>
    <app-star-rating></app-star-rating>
    <button class="btn btn-outline-primary float-right" (click)="goBack()"><i class="fas fa-arrow-left"></i> Go Back</button>
    <button class="btn btn-outline-success float-right"><i class="fas fa-plus"></i> Add Comment</button> 
  </div> 
  <p>comments here...</p>
</div>
