<div class="container"> 
    <app-filter (onFilter)="filterMovies($event)"></app-filter>
    <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let movieEl of moviesList | paginate: {
                                                                            itemsPerPage: 8,
                                                                            currentPage: p }">
            <app-movie-item [movie]="movieEl"></app-movie-item>
        </div>
    </div>
    <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>


