<div class="container">
    <p>
        Here is the movies list:
      </p>
      <div class="row">
        <div class="col-md-3 col-sm-6">
            <app-movie-item></app-movie-item>
        </div>
        <div class="col-md-3 col-sm-6">
            <app-movie-item></app-movie-item>
        </div>
        <div class="col-md-3 col-sm-6">
            <app-movie-item></app-movie-item>
        </div>
        <div class="col-md-3 col-sm-6">
            <app-movie-item></app-movie-item>
        </div>
      </div>

</div>


