<!-- <div class="container">
  <h2>Members</h2>
  <hr>
  <div class="member-list">
    <div class="row">
      <div class="member">
        <img src="https://media.vanityfair.com/photos/57e1b38c0a8ec0db67d1fdb9/master/w_600,h_720,c_limit/hollywood-eligible-bachelors-ben-affleck-02.jpg"
        alt="Avatar" class="image" style="width:100%">
        <div class="overlay">
          <a href="https://www.utdallas.edu/~jxs178130">
            <div class="text">
              <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i>
            </div>
          </a>
        </div>
        <div class="member-name">
          <span>Jack Broforce</span>
          <h6>Team Leader</h6>
        </div>
      </div>

      <div class="member">
        <img src="https://imgnooz.com/sites/default/files/wallpaper/music/60389/avril-lavigne-wallpapers-60389-9894094.jpg"
        alt="Avatar" class="image" style="width:100%">
        <div class="overlay">
          <a href="https://www.facebook.com/">
            <div class="text">
              <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i>
            </div>
          </a>
        </div>
        <div class="member-name">
          <span>Finka Ella</span>
          <h6>Team Member</h6>
        </div>
      </div>

      <div class="member">
        <img src="https://pixel.nymag.com/imgs/daily/entertainment/20100407_samworthington.nocrop.w403.h670.jpg"
        alt="Avatar" class="image" style="width:100%">
        <div class="overlay">
          <a href="https://www.google.com">
            <div class="text">
              <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i>
            </div>
          </a>
        </div>
        <div class="member-name">
          <span>Tom Buck</span>
          <h6>Team Member</h6>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="works-wrap">
    <h2>Members</h2>
    <hr>
    <ul class="works-con">
        <li class="works-item">
            <div class="works-item-t">
                <img src="https://pixel.nymag.com/imgs/daily/entertainment/20100407_samworthington.nocrop.w403.h670.jpg">
            </div>
            <div class="works-item-b">
                <h4 class="works-item-h">一念永恒</h4>
                <div class="works-btn-box"><a href class="works-btn">立即阅读 &gt;</a></div>
            </div>
        </li><li class="works-item">
            <div class="works-item-t">
                <img src="https://pixel.nymag.com/imgs/daily/entertainment/20100407_samworthington.nocrop.w403.h670.jpg">
            </div>
            <div class="works-item-b">
                <h4 class="works-item-h">RE从零开始的异世界生活</h4>
                <div class="works-btn-box"><a href class="works-btn">立即阅读 &gt;</a></div>
            </div>
        </li>
    </ul>
</div>