<div class="container">
  <h4>Members</h4>
  <div class="member-table">
    <ul class="table-list">
      <li class="table-list-item">
        <div class="table-list-cell" style="width:72px;">
          <a class = "d-inline-block" href="">
              <img class="avatar" src="https://image.flaticon.com/icons/svg/149/149071.svg" width="48" height="48" alt="">
          </a>
        </div>
        <div class="table-list-cell" style="width:200px;">
          <a class = "member-name" href="">
            Jack Bruforce
          </a>
          <br />
          <span class = "member-desc">
            Da lao
          </span>
        </div>
      </li>




      <li class="table-list-item">
        
      </li>
      <li class="table-list-item">
        
      </li>
    </ul>
  </div>
</div>