.container {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.table-list {
    border-bottom: 1px solid #e1e4e8;
    color: #6a737d;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.table-list-item {
    display: table-row;
    list-style: none;
    position: relative;
}

.table-list-cell {
    border-top: 1px solid #eaecef;
    display: table-cell;
    font-size: 12px;
    padding: 8px 10px;
    position: relative;
    text-align: center!important;
    padding-bottom: 16px!important;
    padding-top: 16px!important;
    padding-right: 0!important;
}

.d-inline-block {
    display: inline-block!important;
}

.avatar {
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
}

.member-name {
    max-width: 180px;
    font-size: 16px!important;
    float: left;
}

.member-desc{
    max-width: 180px;
    font-size: 14px!important;
    color: #24292e!important;
    float: left;
}