<div class="container">
  <h2>Members</h2>
  <hr>
  <!-- <p>Hover over the image to see the effect.</p> -->
  <div class="member-list">

    <div class="member">
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555362532&di=dc06ccd7577be202ccb579965e454196&imgtype=jpg&er=1&src=http%3A%2F%2Fpic.rmb.bdstatic.com%2F5768b3bc9b985f5718687f5ffcdb6235.jpeg"
      alt="Avatar" class="image" style="width:100%">
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>

    </div>

    <div class="member">

    </div>

    <div class="member">

    </div>

  </div>
</div>