<div class="container">
    <h4>SELECT MOVIES</h4>
    <hr>
    <div class="row">
        <label>Year :</label>
        <ul>
            <li><a href="#" active >ALL</a></li>
            <li><a href="#">2019</a></li>
            <li><a href="#">2018</a></li>
            <li><a href="#">2017</a></li>
            <li><a href="#">More ealier...</a></li>
        </ul>
    </div>
    <hr>
    <div class="row">
        <label>Genres :</label>
        <ul>
            <li><a href="#" active >ALL</a></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Romance</a></li>
            <li><a href="#">Sci-fi</a></li>
            <li><a href="#">Crime</a></li>
            <li><a href="#">Comey</a></li>
            <li><a href="#">Advanture</a></li>
            <li><a href="#">Animation</a></li>
            <li><a href="#">Other...</a></li>
        </ul>
    </div>
    <hr>
    <div class="row">
        <label>Area :</label>
        <ul>
            <li><a href="#" >ALL</a></li>
            <li><a href="#">America</a></li>
            <li><a href="#">China</a></li>
            <li><a href="#">Europe</a></li>
            <li><a href="#">India</a></li>
            <li><a href="#">Korea</a></li>
            <li><a href="#">Japan</a></li>
            <li><a href="#">Other...</a></li>
        </ul>
    </div>
    <hr>
</div>


