.container{
    padding: 20px 20px;
    text-align: center;
}

.container img{
    margin: 20px auto;
    max-width: 90%;
    overflow: hidden;
}

.upload{
    text-align: left;
}

.upload p{
    margin-top:20px;
}
.url{
    margin-top:10px;
    width: 100%;
    border:none;
    border-bottom: 2px solid gray;
    display: block;
}

.imgDiv{
    margin-top:30px;
}

button{
    margin: 30px auto;
    font-size: 1.3em;
    border: none;
    background-color: rgb(255, 255, 255);
}

.cancle-btn {
    color: rgb(249, 83, 83);
}
.upload-btn{
    color: rgb(95, 95, 254);
    margin-left: 25%;
}

.cancle-btn:hover, .upload-btn:hover{
    border-bottom: 2px solid;
    font-style: italic;
}
