<div class="container">
  <h5>{{ movie.title }}</h5>
  <img src="{{ movie.smallImagePath}}" alt="movie.title">
  <hr>
  <div class="upload">
      <!-- <label for="newImage">Choose small image file:</label>
      <input class="chooseFile" type="file" accept="image/*" name="newImage" id="newImage">
      <label for="newLargeImage">Choose large image file:</label>
      <input class="chooseFile" type="file" accept="image/*" name="newLargeImage" id="newLargeImage">
      <p>OR</p> -->
      <div class="imgDiv">
          <label for="smallImg">Preview Image :</label>
          <textarea class="url" name="smallImg" id="smallImg" cols="100" rows="5" 
          [(ngModel)]="movie.smallImagePath" placeholder="New Small Image URL..."></textarea>
      </div>
      <div class="imgDiv">
          <label for="largeImg">Movie Poster :</label>
          <textarea class="url" name="largeImg" id="largeImg" cols="100" rows="5" 
          [(ngModel)]="imagePath" placeholder="New Large Image URL..."></textarea>
      </div>
  </div>
  <hr>
  <button class="cancle-btn"(click)="this.bsModalRef.hide();">Cancle</button>
  <button class="upload-btn" (click)="uploadImage()">Upload</button>
</div>
