<div id="loginscreen">
    <div class="user-image">
        <img class="user-photo" src="{{curUserPhoto}}" alt="Default User Photo">
    </div>
    <form class="login" (ngSubmit)="onSubmit()" autocomplete="off">
        <h4>Login</h4>
        <div class="form-group txt">
            <input type="text" [(ngModel)]="user.username"
                class="form-control" 
                name="username" id="username" placeholder="Usrename" required/>          
            <span id="username-info" [ngClass]="{'error': username_id === 1}"></span>
        </div>
        <div class="form-group txt">
            <input type="password" [(ngModel)]="user.password"
                class="form-control" 
                name="password" id="password" placeholder="Password" required/>
            <span id="password-info" [ngClass]="{'error': password_id === 1}"></span>
        </div>
        <div class="form-group" id="login-btn">
            <button type="submit" class="btn btn-outline-secondary btn-block">Login</button>
        </div> 
        <div>
            <a [routerLink]="['/movies']" class="btn btn-link">Cancel</a>
            <a [routerLink]="['/signup']" class="btn btn-link">Create Account</a>
        </div>
    </form>
</div>

<div class="box">
    <div class="content">
        <h1>This is the box you should be thinking outside of</h1> 
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title"></h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="wrongUser">Username or password are wrong.</p>
    </div>
    <div class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
    </div>
</ng-template>