<div id="loginscreen">
    <img class="img" src="https://image.flaticon.com/icons/svg/149/149071.svg">
    <form class="login" (ngSubmit)="onSubmit()">
        <h4>Login</h4>
        <div class="form-group" class = "txt">
            <input type="text" [(ngModel)]="user.username" class="form-control" name="username" id="username" placeholder="Username" required/>
        </div>
        <div class="form-group" class = "txt-spec">
            <input type="password" [(ngModel)]="user.password" class="form-control" name="password" id="password" placeholder="Password" required/>
        </div>
        <div id="login-btn">
            <button type="submit" class="btn btn-outline-secondary btn-block">Login</button>
        </div> 
        <div>
            <a [routerLink]="['/movies']" class="btn btn-link">Cancel</a>
            <a [routerLink]="['/signup']" class="btn btn-link">Create Account</a>
        </div>
    </form>
</div>