.container{
    text-align: left;
    padding: 20px 20px;
}

.container div{
    margin: 0 10px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 10px;
}

input {
    visibility:hidden;
}

li label {
    cursor: pointer;
}

li label:hover {
    background:#b3fff0;
}

input:checked + label {
    background:#b3fff0;
}

.filterLabel{
    font-size: 1.2em;
    font-weight: bold;
}
