.user-prev-photo{
    display:block;
    width:100%;
}
.user-prev-image{
    position: relative;
    width: 26vw;
    height: 26vw;
    border-radius: 50%;
    margin: 0 auto 0 auto;
    overflow:hidden;
}

h6{
    float:left;
    padding-top: 4%;
    padding-bottom: 1%;
}

.photo-change{
    padding: 5%;
    margin-top:5%;
}
.txt{
    margin-top: 4%;
    margin-bottom: 7%;
}
#photo-link{
	border-color:#ccc
}

.btn {
    width: 25%;
    margin: 0 auto;
    margin-left:10%;
}

.submit{
    margin-left:20%;
}

/*prompt msgs & validation msgs*/
.error {
    Font-size:75%;
    float:left;
    color:rgb(226, 52, 52);
}